/* Start Variables */
:root {
--Dark-Blue: hsl(209, 23%, 22%);
--Very-Dark-Blue: hsl(207, 26%, 17%);
--Very-Dark-Blue: hsl(200, 15%, 8%);
--Dark-Gray: hsl(0, 0%, 52%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
}
/* Start Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Nunito Sans", serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
.header {
    box-shadow: 0px 2px 4px 0px hsl(0deg 0% 52% / 27%);
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container h3 {
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}
.header .container .icon {
    cursor: pointer;
}
.header .container .icon i {
    font-family: "Font Awesome 6 Free";
}
/* End Header */
/* Start Section */
.section {
    margin-top: 5px;
    background-color: var(--Very-Light-Gray);
    height: 100vh;
}
.section .container .info {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 48px;
}
@media (max-width:768px) {
   .section .container .info {
    flex-direction: column;
    gap: 35px;
   }
}
.section .info .search {
    max-width: 400px;
    box-shadow: 0 0 8px 0px rgb(0, 0, 0,0.15);
    border-radius: 10px;
    padding-left: 24px;
    background-color: white;
    width: 350px;
    color: #999;
}
@media (max-width:768px) {
    .section .container .info .search {
     width: 100%;
    }
 }
.section .search input {
    border: none;
    outline: none;
    padding: 16px;
}
.section .search input::placeholder {
    color: var(--Dark-Gray);
}
.section .info .filter {
    position: relative;
    width: 150px;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 0 8px 0px rgb(0, 0, 0,0.15);
}
@media (max-width:768px) {
    .section .container .filter {
     width: 200px;
    }
 }
 .countries {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 30px;
}
.countries .country {
    border-radius: 8px;
    background-color: var(--White);
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.2s;
    cursor: pointer;
}
 .country:hover {
    transform: scale(1.03);
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}
.card-text {
    padding: 0 20px;
}
.card-text h3 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 24px;
    color: black;
}
.card-text p {
    padding: 5px;
    color: black;
}
.card-text p span {
    font-size: 14px;
    color: var(--Dark-Gray);
}
.card-text b {
    font-size: 16px;
} 
 .countries .country img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
 }
/* End Section */